header, button, a {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
}

main {
  background-color: #00ddff;
  color: #e7e7e7;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.body-wrapper {
  min-height: 100vh;
}

.container {
  max-width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
}

header, a, button {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
}

main {
  background-color: #00ddff;
  color: #e7e7e7;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

header, a, button {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
}

main {
  background-color: #00ddff;
  color: #e7e7e7;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

header .header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header .header__navigation .header__navigation-logo {
  height: 100%;
}
header .header__navigation .header__navigation-list {
  min-width: 55%;
  display: flex;
  justify-content: space-between;
}
header .header__navigation .header__navigation-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header__navigation .header__navigation-settings .themes-switcher-container {
  display: flex;
  align-items: center;
  background-color: #9f9f9f;
  color: #232e2f;
  border-radius: 25px;
  padding: 5px;
}
header .header__navigation .header__navigation-settings .themes-switcher-container .themes-switcher-sign {
  margin-right: 20px;
  font-size: 20px;
}
header .header__navigation .header__navigation-settings .themes-switcher-container .themes-switcher {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
header .header__navigation .header__navigation-settings .themes-switcher-container .themes-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .header__navigation .header__navigation-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider {
  background-color: #366c67;
}
header .header__navigation .header__navigation-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider:before {
  transform: translateX(13px);
}
header .header__navigation .header__navigation-settings .themes-switcher-container .themes-switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232e2f;
  transition: 0.4s;
  border-radius: 40%;
}
header .header__navigation .header__navigation-settings .themes-switcher-container .themes-switcher__slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 40%;
}
header .header__navigation .header__navigation-settings .language-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
header .header__navigation .header__navigation-settings .language-container .language-button {
  font-size: 20px;
}
header .header__navigation .header__navigation-settings .language-container .language-separator {
  font-size: 20px;
}/*# sourceMappingURL=index.css.map */