.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.main {
  min-height: 80vh;
}

.container {
  padding: 0;
  max-width: 90%;
  margin: auto;
}

.bold-text {
  font-weight: bold;
}

a {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
  text-decoration: none;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

@media (max-width: 425px) {
  .container {
    max-width: 95%;
  }
}
.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

@keyframes changeColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dbdbdb;
  }
  100% {
    background-color: #ffffff;
  }
}
.waiting-background {
  position: relative;
  width: 100%;
  height: 100%;
  animation: changeColor 1s infinite;
}

.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

@keyframes changeColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dbdbdb;
  }
  100% {
    background-color: #ffffff;
  }
}
.waiting-background {
  position: relative;
  width: 100%;
  height: 100%;
  animation: changeColor 1s infinite;
}

.header .container .header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  gap: 30px;
}
.header .container .header__navigation .header__navigation-home-link .header__navigation-logo {
  height: 90px;
}
.header .container .header__navigation .header__navigation-list {
  min-width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element {
  text-align: center;
  position: relative;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element .header__navigation-list-element-link:not(:first-child) {
  color: #585858;
  opacity: 0.7;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element .underlined:hover {
  color: #dedede;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element .locked-page {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1;
  transition: 0.5s;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element .locked-page:hover {
  opacity: 1;
}
.header .container .header__navigation .header__navigation-list .locked-page {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-separator {
  width: 1px;
  height: 20px;
  transition: 0.5s;
}
.header .container .header__navigation .header__navigation-end {
  display: flex;
  align-items: center;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account .header__navigation-end-account-link:hover {
  color: #dedede;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account .header__navigation-end-account-separator {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  transition: 0.5s;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  padding: 5px;
  transition: 0.5s;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher-icon {
  width: 24px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  transition: 0.5s;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider:before {
  transform: translateX(13px);
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 40%;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher__slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 40%;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .language-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .language-container .language-button {
  transition: 0.5s;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .language-container .language-button:hover {
  color: #dedede;
}
.header .container .header__navigation .burger-menu {
  display: none;
}
.header .container .header__navigation .burger-menu .burger-menu__button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0;
}
.header .container .header__navigation .burger-menu .burger-menu__button .burger-menu__button-element {
  height: 5px;
  width: 45px;
}

.body {
  position: relative;
}
.body .burger-content-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  width: 40%;
  background-color: black;
  padding: 20px;
}
.body .burger-content-wrapper .burger-content__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-account .burger-content__top-account-link {
  color: white;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-account .burger-content__top-account-separator {
  height: 2px;
  width: 90%;
  background-color: white;
  margin: 10px 0;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  padding: 5px;
  transition: 0.5s;
  border: 1px white solid;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container .themes-switcher-icon {
  width: 24px;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container .themes-switcher {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  transition: 0.5s;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container .themes-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider {
  background-color: white;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider:before {
  transform: translateX(13px);
  background-color: black;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container .themes-switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border: 1px white solid;
  border-radius: 40%;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .themes-switcher-container .themes-switcher__slider:before {
  top: 1px;
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 40%;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .language-container .language-button {
  background-color: transparent;
  color: white;
}
.body .burger-content-wrapper .burger-content__top .burger-content__top-settings .language-container .language-separator {
  font-size: 24px;
  color: white;
}
.body .burger-content-wrapper .burger-content__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .burger-content-wrapper .burger-content__navigation-list .burger-content__navigation-list-element {
  margin: 20px 0;
}
.body .burger-content-wrapper .burger-content__navigation-list .burger-content__navigation-list-element-link {
  color: white;
}

@media (max-width: 1024px) {
  .header .container .header__navigation .header__navigation-list .header__navigation-list-element {
    width: -moz-min-content;
    width: min-content;
  }
}
@media (max-width: 768px) {
  .header .container .header__navigation .header__navigation-list {
    display: none;
  }
  .header .container .header__navigation .header__navigation-end {
    display: none;
  }
  .header .container .header__navigation .burger-menu {
    display: block;
  }
}
@media (max-width: 425px) {
  .body .burger-content-wrapper {
    width: 60%;
  }
  .body .burger-content-wrapper .burger-content__top {
    justify-content: center;
  }
  .body .burger-content-wrapper .burger-content__navigation-list .burger-content__navigation-list-element {
    margin: 10px 0;
    text-align: center;
  }
}
.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

@keyframes changeColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dbdbdb;
  }
  100% {
    background-color: #ffffff;
  }
}
.waiting-background {
  position: relative;
  width: 100%;
  height: 100%;
  animation: changeColor 1s infinite;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 100px;
}
.footer .container .footer__social {
  display: flex;
}
.footer .container .footer__social .footer__social-link {
  display: block;
  margin: 10px;
}
.footer .container .footer__social .footer__social-link .footer__social-link-image {
  width: 48px;
}

@media (max-width: 425px) {
  .footer .container {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer .container .footer__social {
    display: flex;
  }
  .footer .container .footer__social .footer__social-link {
    display: block;
    margin: 10px;
  }
  .footer .container .footer__social .footer__social-link .footer__social-link-image {
    width: 48px;
  }
}
.main {
  display: flex;
  justify-content: center;
}
.main .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.main .form-wrapper .register-title {
  margin-bottom: 20px;
  font-size: 40px;
}
.main .form-wrapper .register-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  padding: 0 20px;
  width: 300px;
  border: 2px solid black;
}
.main .form-wrapper .register-form .register-form-separator {
  align-self: center;
  width: 80%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}
.main .form-wrapper .register-form .register-form__span {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 900;
}
.main .form-wrapper .register-form .register-form__input {
  margin-top: 5px;
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 5px;
}
.main .form-wrapper .register-form .register-form__input:hover {
  background-color: rgb(233, 233, 233);
}
.main .form-wrapper .register-form .register-form__span-small {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px 0;
}
.main .form-wrapper .register-form .register-form__submit {
  border-radius: 20px;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-size: 26px;
  font-weight: 600;
}
.main .form-wrapper .register-form .register-form__checkbox-part input,
.main .form-wrapper .register-form .register-form__checkbox-part label {
  cursor: pointer;
}
.main .form-wrapper .register-form .register-form__bottom {
  margin-top: 10px;
}
.main .form-wrapper .register-form .register-form__bottom .register-form__bottom-link {
  color: #232e2f;
  font-size: 20px;
  background-color: transparent;
}
.main .form-wrapper .register-form .register-form__bottom .register-form__bottom-link:hover {
  text-decoration: underline;
}
.main .form-wrapper .register-form .g_id_signin {
  align-self: center;
  margin-bottom: 10px;
}
.main .form-wrapper .register-form .google-message {
  align-self: center;
  width: 95%;
}
.main .form-wrapper .code-form {
  margin: 10px 0;
  background-color: rgb(233, 233, 233);
  padding: 0 20px 20px;
  width: 300px;
}
.main .form-wrapper .code-form .code-form__title {
  margin-top: 10px;
}
.main .form-wrapper .code-form .code-form__numbers {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.main .form-wrapper .code-form .code-form__numbers .code-form__number {
  padding-left: 15px;
  font-size: 20px;
  width: 25px;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.main .form-wrapper .code-form .code-form__plot {
  margin-top: 10px;
  font-size: 14px;
}
.main .form-wrapper .dev-message {
  position: relative;
  background-color: rgb(253, 255, 151);
  padding: 5px 10px;
  width: 300px;
  transition: 3s;
  margin-bottom: 10px;
}
.main .form-wrapper .dev-message .dev-message__decor {
  position: absolute;
  top: -3px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  z-index: 1;
  background-color: rgb(253, 255, 151);
}
.main .form-wrapper .dev-message .dev-message__plot {
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 1.2;
}
.main .form-wrapper .dev-message .dev-message__plot .dev-message__code {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: 900;
}

@media (max-width: 425px) {
  .main .form-wrapper .register-title {
    text-align: center;
  }
  .main .form-wrapper .register-form {
    width: 80%;
  }
  .main .form-wrapper .register-form .register-form__submit {
    font-size: 20px;
  }
  .main .form-wrapper .code-form {
    width: 80%;
  }
  .main .form-wrapper .dev-message {
    width: 80%;
  }
}/*# sourceMappingURL=register.css.map */