.main .container .main-wrapper .main__filter .main__filter-block, .footer, .header, button, a {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}

.main {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
}

.main {
  min-height: 80vh;
}

.container {
  padding: 0;
  max-width: 90%;
  margin: auto;
}

.bold-text {
  font-weight: bold;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.main .container .main-wrapper .main__filter .main__filter-block, .footer, .header, a, button {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}

.main {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

.main .container .main-wrapper .main__filter .main__filter-block, .footer, .header, a, button {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}

.main {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

.header .container .header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  gap: 30px;
}
.header .container .header__navigation .header__navigation-home-link .header__navigation-logo {
  height: 90px;
}
.header .container .header__navigation .header__navigation-list {
  min-width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element {
  text-align: center;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element .header__navigation-list-element-link:hover {
  color: #dedede;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-separator {
  width: 1px;
  height: 20px;
  background-color: #9f9f9f;
}
.header .container .header__navigation .header__navigation-end {
  display: flex;
  align-items: center;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account .header__navigation-end-account-link:hover {
  color: #dedede;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account .header__navigation-end-account-separator {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background-color: #9f9f9f;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #9f9f9f;
  color: #232e2f;
  border-radius: 25px;
  padding: 5px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher-icon {
  width: 24px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider {
  background-color: #366c67;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider:before {
  transform: translateX(13px);
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232e2f;
  transition: 0.4s;
  border-radius: 40%;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher__slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 40%;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .language-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .language-container .language-button:hover {
  color: #dedede;
}
.main .container .main-wrapper .main__filter .main__filter-block, .footer, a, button, .header {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}

.main {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 100px;
}
.footer .container .footer__social {
  display: flex;
}
.footer .container .footer__social .footer__social-link {
  display: block;
  margin: 10px;
}
.footer .container .footer__social .footer__social-link .footer__social-link-image {
  width: 48px;
}

.main .notification {
  padding: 10px;
  display: none;
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  font-size: 72px;
  background-color: #9f9f9f;
  border: 3px solid black;
  transition: 0.5s;
  filter: drop-shadow(0 0 5px white);
}
.main .container .main-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.main .container .main-wrapper .main__plot {
  width: 70%;
}
.main .container .main-wrapper .main__plot .pagination-switcher {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232e2f;
  color: #9f9f9f;
  border-radius: 30px;
  filter: drop-shadow(5px 5px 10px #000000);
}
.main .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__button {
  width: 50px;
  height: 50px;
  background-color: #9f9f9f;
  color: #232e2f;
}
.main .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.main .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot {
  text-align: center;
}
.main .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-bottom {
  margin-top: 10px;
}
.main .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  font-size: 24px;
  font-weight: 900;
  color: #dedede;
}
.main .container .main-wrapper .main__plot .empty-message {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232e2f;
  color: #9f9f9f;
  border-radius: 30px;
  filter: drop-shadow(5px 5px 10px #000000);
}
.main .container .main-wrapper .main__plot .empty-message .empty-message__button {
  margin-top: 20px;
  font-size: 40px;
  padding: 0 20px;
  border-radius: 50px;
  background-color: #9f9f9f;
  color: #232e2f;
}
.main .container .main-wrapper .main__plot .empty-message .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.main .container .main-wrapper .main__plot .dream-record {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #232e2f;
  color: #9f9f9f;
  border-radius: 30px;
  filter: drop-shadow(5px 5px 10px #000000);
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__visual {
  margin-right: 10px;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__visual .dream-record__visual-primary {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  background-image: url(./../img/default-dream-image.svg);
  background-size: cover;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__visual .dream-record__visual-secondary {
  display: flex;
  justify-content: space-around;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__visual .dream-record__visual-secondary .image-wrapper {
  position: relative;
  display: inline-block;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__visual .dream-record__visual-secondary .description-label {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__visual .dream-record__visual-secondary .image-wrapper:hover .description-label {
  visibility: visible;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-top .dream-record__main-top-left .dream-record__main-top-left-title {
  font-size: 40px;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-top .dream-record__main-top-left .dream-record__main-top-left-date {
  margin-top: 10px;
  font-size: 16px;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-top .dream-record__main-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-top .dream-record__main-top-right .dream-record__main-top-right-likes {
  font-size: 36px;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-top .dream-record__main-top-right .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
  font-size: 20px;
  font-weight: 900;
  filter: drop-shadow(0px 0px 1px #000000);
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-top .dream-record__main-top-right .dream-record__main-top-right-views {
  margin-top: 10px;
  font-size: 16px;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-middle {
  margin: 10px 0;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-middle .dream-record__main-middle-tags {
  margin-bottom: 5px;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-middle .dream-record__main-middle-plot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-bottom .dream-record__main-bottom-user {
  padding: 0 10px 0 0;
  display: flex;
  font-size: 40px;
  border-radius: 25px;
  background-color: #9f9f9f;
  color: #232e2f;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-bottom .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-bottom .dream-record__main-bottom-user .dream-record__main-bottom-user-avatar {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 100%;
  background-image: url(./../img/default-user-avatar.svg);
  background-size: cover;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-bottom .dream-record__main-bottom-user .dream-record__main-bottom-user-avatar:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./../img/default-user-avatar.svg);
  background-size: cover;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-bottom .dream-record__main-bottom-look-link {
  font-size: 40px;
  padding: 0 20px;
  border-radius: 50px;
  background-color: #9f9f9f;
  color: #232e2f;
}
.main .container .main-wrapper .main__plot .dream-record .dream-record__main .dream-record__main-bottom .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.main .container .main-wrapper .main__filter {
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 20px;
  margin: 20px 0;
}
.main .container .main-wrapper .main__filter .main__filter-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #232e2f;
  border-radius: 20px;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-span {
  margin-bottom: 10px;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-main {
  display: flex;
  align-items: center;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-main .main__filter-block-input {
  padding: 5px;
  font-size: 36px;
  border-radius: 20px;
  width: 100%;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-main .dream-category-icon {
  margin-left: 10px;
  width: 64px;
  height: 64px;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-search {
  display: flex;
  justify-content: space-between;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-search .main__filter-block-input {
  padding: 5px;
  font-size: 36px;
  border-radius: 20px;
  width: 100%;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-search .main__filter-block-search-button {
  padding: 0;
  margin-left: 10px;
  border-radius: 10px;
  width: 64px;
  background-image: url(./../icons/registered_home/search.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: #9f9f9f;
  background-position: center;
  transition: 0.5s;
}
.main .container .main-wrapper .main__filter .main__filter-block .main__filter-block-search .main__filter-block-search-button:hover {
  background-image: url(./../icons/registered_home/hover_search.svg);
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.main .container .main-wrapper .main__filter .user-search .user-search__main {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .main-wrapper .main__filter .user-search .user-search__main .user-search__main-left {
  display: flex;
  align-items: center;
}
.main .container .main-wrapper .main__filter .user-search .user-search__main .user-search__main-left .user-search__main-left-avatar {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: white;
  background-image: url(./../img/default-user-avatar.svg);
  background-size: cover;
}
.main .container .main-wrapper .main__filter .user-search .user-search__main .user-search__main-left .user-search__main-left-avatar:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./../img/default-user-avatar.svg);
  background-size: cover;
}
.main .container .main-wrapper .main__filter .user-search .user-search__main .user-search__main-left .user-search__main-left-nickname {
  margin-left: 10px;
}
.main .container .main-wrapper .main__filter .user-search .user-search__main .user-search__main-button {
  font-size: 36px;
  width: 64px;
  height: 64px;
  background-color: #9f9f9f;
  color: #232e2f;
}
.main .container .main-wrapper .main__filter .user-search .user-search__main .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.main .container .main-wrapper .main__filter .main__filter-add-link {
  font-size: 40px;
  padding: 5px 20px;
  border-radius: 50px;
}
.main .container .main-wrapper .main__filter .main__filter-add-link:hover {
  color: #dedede;
  filter: drop-shadow(0 0 5px #232e2f);
}/*# sourceMappingURL=registered_home.css.map */