.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.main {
  min-height: 80vh;
}

.container {
  padding: 0;
  max-width: 90%;
  margin: auto;
}

.bold-text {
  font-weight: bold;
}

a {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
  text-decoration: none;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

@keyframes changeColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dbdbdb;
  }
  100% {
    background-color: #ffffff;
  }
}
.waiting-background {
  position: relative;
  width: 100%;
  height: 100%;
  animation: changeColor 1s infinite;
}

.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

@keyframes changeColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dbdbdb;
  }
  100% {
    background-color: #ffffff;
  }
}
.waiting-background {
  position: relative;
  width: 100%;
  height: 100%;
  animation: changeColor 1s infinite;
}

.header .container .header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  gap: 30px;
}
.header .container .header__navigation .header__navigation-home-link .header__navigation-logo {
  height: 90px;
}
.header .container .header__navigation .header__navigation-list {
  min-width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element {
  text-align: center;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-element .header__navigation-list-element-link:hover {
  color: #dedede;
}
.header .container .header__navigation .header__navigation-list .header__navigation-list-separator {
  width: 1px;
  height: 20px;
}
.header .container .header__navigation .header__navigation-end {
  display: flex;
  align-items: center;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account .header__navigation-end-account-link:hover {
  color: #dedede;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-account .header__navigation-end-account-separator {
  height: 1px;
  width: 100%;
  margin: 5px 0;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  padding: 5px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher-icon {
  width: 24px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher input:checked + .themes-switcher__slider:before {
  transform: translateX(13px);
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 40%;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .themes-switcher-container .themes-switcher__slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 40%;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .language-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.header .container .header__navigation .header__navigation-end .header__navigation-end-settings .language-container .language-button:hover {
  color: #dedede;
}
.primary-style {
  background-color: #232e2f;
  color: #9f9f9f;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.primary-style .themes-switcher-container {
  background-color: #9f9f9f;
}
.primary-style .themes-switcher__slider {
  background-color: #232e2f;
}
.primary-style .header__navigation-list-separator {
  background-color: #9f9f9f;
}
.primary-style .header__navigation-end-account-separator {
  background-color: #9f9f9f;
}

.secondary-style {
  background-color: #9f9f9f;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style a {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style button {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .notification {
  background-color: #9f9f9f;
}
.secondary-style .pagination-switcher {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .pagination-switcher__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .pagination-switcher__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: white;
}
.secondary-style .empty-message {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .empty-message__button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .empty-message__button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record {
  background-color: #232e2f;
  color: #9f9f9f;
}
.secondary-style .dream-record__main-bottom-user {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-user:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .dream-record__main-bottom-look-link {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .dream-record__main-bottom-look-link:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-block {
  background-color: #232e2f;
}
.secondary-style .main__filter-block-search-button {
  background-color: #9f9f9f;
}
.secondary-style .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .user-search__main-button {
  background-color: #9f9f9f;
  color: #232e2f;
}
.secondary-style .user-search__main-button:hover {
  color: black;
  filter: drop-shadow(0 0 5px #9f9f9f);
}
.secondary-style .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .record-form__submit:hover {
  background-color: #9f9f9f;
}
.secondary-style .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #232e2f);
}
.secondary-style .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 217);
}
.secondary-style .main__filter-block-span {
  color: #9f9f9f;
}
.secondary-style audio::-webkit-media-controls-panel {
  background-color: #3f676b;
}
.secondary-style audio::-webkit-media-controls-current-time-display {
  color: #00ff00;
}

.primary-style-light {
  background-color: #46d4e1;
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  transition: 0.5s;
}
.primary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light a:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.primary-style-light button:hover {
  color: rgb(25, 25, 25);
}
.primary-style-light .themes-switcher-container {
  background-color: #000000;
}
.primary-style-light .themes-switcher__slider {
  background-color: #46d4e1;
}
.primary-style-light .header__navigation-list-separator {
  background-color: #000000;
}
.primary-style-light .header__navigation-end-account-separator {
  background-color: #000000;
}

.secondary-style-light {
  background-color: #cefbff;
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.secondary-style-light a {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light button {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .notification {
  background-color: #cefbff;
}
.secondary-style-light .pagination-switcher {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .pagination-switcher__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .pagination-switcher__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .container .main-wrapper .main__plot .pagination-switcher .pagination-switcher__plot .pagination-switcher__plot-key {
  color: black;
}
.secondary-style-light .empty-message {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .empty-message__button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .empty-message__button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record {
  background-color: #46d4e1;
  color: #000000;
}
.secondary-style-light .dream-record__main-bottom-user {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-user:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .dream-record__main-bottom-look-link {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .dream-record__main-bottom-look-link:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-block {
  background-color: #46d4e1;
}
.secondary-style-light .main__filter-block-search-button {
  background-color: #000000;
}
.secondary-style-light .main__filter-block-search-button:hover {
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .user-search__main-button {
  background-color: #000000;
  color: #46d4e1;
}
.secondary-style-light .user-search__main-button:hover {
  color: white;
  filter: drop-shadow(0 0 5px #000000);
}
.secondary-style-light .main__filter-add-link:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .record-form__submit:hover {
  background-color: #46d4e1;
}
.secondary-style-light .forecast-place-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .register-form__submit:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-left-return-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record-head__top-right-like-button:hover {
  filter: drop-shadow(0 0 5px #46d4e1);
}
.secondary-style-light .dream-record__main-top-right-liked-this {
  color: rgb(255, 0, 0);
}
.secondary-style-light .main__filter-block-span {
  color: #000000;
}
.secondary-style-light audio::-webkit-media-controls-panel {
  background-color: #85dde5;
}
.secondary-style-light audio::-webkit-media-controls-current-time-display {
  color: #00de00;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.underlined {
  text-decoration: underline;
  color: #dedede;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-exist {
  display: none !important;
}

.wrong-input {
  border: 2px red solid !important;
}

.right-input {
  border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
  color: red;
  font-size: 14px;
}

.locked-input {
  background: transparent !important;
  border: none !important;
  cursor: default;
  pointer-events: none;
}

.selected {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

@keyframes changeColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dbdbdb;
  }
  100% {
    background-color: #ffffff;
  }
}
.waiting-background {
  position: relative;
  width: 100%;
  height: 100%;
  animation: changeColor 1s infinite;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  height: 100px;
}
.footer .container .footer__social {
  display: flex;
}
.footer .container .footer__social .footer__social-link {
  display: block;
  margin: 10px;
}
.footer .container .footer__social .footer__social-link .footer__social-link-image {
  width: 48px;
}

.main .container .profile-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.main .container .profile-wrapper .wrong-span {
  text-shadow: 0px 0px 5px white;
  font-size: 20px;
  font-weight: 900;
  margin-left: 20px;
}
.main .container .profile-wrapper .profile-main {
  display: flex;
  align-items: center;
}
.main .container .profile-wrapper .profile-main .profile-main__avatar .profile-main__avatar-wrapper {
  width: 200px;
  height: 200px;
  display: block;
  background-color: white;
  background-image: url(../img/default-user-avatar.svg);
  background-size: cover;
  border-radius: 100%;
  text-align: center;
}
.main .container .profile-wrapper .profile-main .profile-main__plot {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.main .container .profile-wrapper .profile-main .profile-main__password {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.main .container .profile-wrapper .profile-main .profile-main__password .wrong-span {
  max-width: 440px;
}
.main .container .profile-wrapper .profile-main .profile-main__password .profile-password-input {
  color: black;
  font-size: 36px;
  margin: 20px;
  background: gray;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.main .container .profile-wrapper .profile-main .profile-main__buttons-checkboxes {
  align-self: flex-start;
}
.main .container .profile-wrapper .profile-main .profile-main__buttons-checkboxes .password-edit-button {
  align-self: flex-start;
  margin-top: 30px;
  width: 200px;
  min-height: 50px;
  border-radius: 20px;
}
.main .container .profile-wrapper .profile-main .profile-main__buttons-checkboxes .password-edit-button:hover {
  color: #dedede;
  text-decoration: underline;
}
.main .container .profile-wrapper .profile-main .profile-main__buttons-checkboxes .password-edit__checkbox-part {
  margin-top: 10px;
}
.main .container .profile-wrapper .profile-main .profile-main__buttons-checkboxes .password-edit__checkbox-part .password-checkbox {
  cursor: pointer;
}
.main .container .profile-wrapper .profile-main .profile-main__buttons-checkboxes .password-edit__checkbox-part .checkbox-span {
  cursor: pointer;
}
.main .container .profile-wrapper .profile-avatar-url .get-random-url-button {
  padding: 0 10px;
  border-radius: 20px;
  transition: none;
}
.main .container .profile-wrapper .profile-avatar-url .get-random-url-button:hover {
  color: #dedede;
  text-decoration: underline;
}
.main .container .profile-wrapper .profile-secondary {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.main .container .profile-wrapper .profile-edit-button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
}
.main .container .profile-wrapper .profile-edit-button:hover {
  color: #dedede;
  text-decoration: underline;
}
.main .container .profile-wrapper .profile-input {
  color: black;
  font-size: 36px;
  margin: 20px;
  background: gray;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  text-overflow: ellipsis;
}
.main .container .profile-wrapper .profile-span {
  margin: 20px 0 0 10px;
}/*# sourceMappingURL=user.css.map */