@import './templates/templates';

.main {
    min-height: 80vh;
}

.container {
    max-width: 80%;
    margin: auto;
}

a {
    @extend %primary_style;
    text-decoration: none;
}

button {
    @extend %primary_style;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}