.underlined {
    text-decoration: underline;
    color: #dedede;
}

.hidden {
    visibility: hidden;
}

.wrong-input {
    border: 2px red solid;
}

.wrong-span {
    color: red;
    font-size: 14px;
}