.underlined {
    text-decoration: underline;
    color: #dedede;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.not-exist {
    display: none !important;
}

.wrong-input {
    border: 2px red solid !important;
}

.right-input {
    border: 2px rgb(0, 255, 0) solid !important;
}

.wrong-span {
    color: red;
    font-size: 14px;
}

.locked-input {
    background: transparent !important;
    border: none  !important;
    cursor: default;
    pointer-events: none;
}

.selected {
    color: rgba(0, 0, 0, 0.5) !important;
    cursor: default !important;
}