@import './base';
@import './variables/variables';
@import './templates/templates';
@import './js_classes';

@import './blocks/header';
@import './blocks/footer';

.main {

    .container {
        padding: 50px 0;

        .main-title {
            font-size: 82px;
        }

        .title {
            margin-bottom: 10px;
            font-size: 42px;
        }

        .subtitle {
            margin-bottom: 10px;
            font-size: 36px;
        }

        .plot {
            margin-bottom: 30px;
            letter-spacing: .8px;
        }

        .plot-title {
            margin-bottom: 10px;
            font-size: 28px;
        }

        .home-button {
            font-size: 40px;
            padding: 5px 20px;
            border-radius: 50px;
            text-align: center;

            &:hover {
                color: #dedede;
                filter: drop-shadow(0 0 5px $background_color_primary);
            }
        }

        .reasons-block {
            margin: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .reasons-block__sections {
                display: flex;
                justify-content: space-between;

                .reasons-block__sections-section {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    .reasons-block__sections-section-img {
                        width: 128px;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .do-not-have-dreams-block {
            margin: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .do-not-have-dreams-block-wrapper {
                margin-top: 20px;
                display: flex;

                .do-not-have-dreams-block__sections {
                    width: 60%;
                    margin-right: 30px;

                    .do-not-have-dreams-block__sections-section {}
                }

                .do-not-have-dreams-block__image {
                    width: 35%;
                    object-fit: cover;
                }
            }
        }

        .start-using-block {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .subtitle {
                text-align: center;
            }
        }
    }
}

@media (max-width: 425px) {

    .body {

        .main {

            .container {

                .main-title {
                    font-size: 64px;
                }

                .reasons-block {

                    .reasons-block__sections {
                        flex-direction: column;
                        gap: 20px;

                        .reasons-block__sections-section {
                            width: 100%;
                        }
                    }
                }

                .do-not-have-dreams-block {

                    .do-not-have-dreams-block-wrapper {
                        flex-direction: column;
                        gap: 20px;
                        text-align: center;

                        .do-not-have-dreams-block__sections {
                            width: 100%;

                            .do-not-have-dreams-block__sections-section {
                                padding: 0 3px;
                            }

                            .home-button {
                                font-size: 36px;
                            }
                        }

                        .do-not-have-dreams-block__image {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}