@import '../../base';
@import '../../variables/variables';
@import '../../templates/templates';
@import '../../js_classes';

@import '../registered_header';
@import '../footer';

.main {

    .container {

        .record-form {
            padding: 50px 0;
            display: flex;
            justify-content: space-between;

            .badge {
                width: 100%;
                overflow: hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                display:inline-block;
                margin: 0 10px;
            }

            .wrong-span {
                text-shadow: 0px 0px 5px white;
                font-size: 20px;
                font-weight: 900;
                margin-left: 20px;
            }

            .record-form__left-part {
                min-width: 25%;
                margin-right: 5%;
                display: flex;
                flex-direction: column;

                .record-form__left-part-image {}
            }

            .record-form__right-part {
                width: 100%;
                display: flex;
                flex-direction: column;

                .tags-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            .dream-category-wrapper {
                margin: 10px 0;
                display: flex;

                .dream-category-wrapper__select-wrapper {
                    display: flex;

                    .dream-category-icon {
                        width: 64px;
                        height: 64px;
                    }
                }
            }

            .record-form__span {
                margin: 20px 20px 5px;
            }

            .record-form__input {
                margin: 5px 20px;
                padding: 5px 10px;
                max-width: 100%;
                color: black;
                font-size: 36px;
                background: transparent;
                border: 1px solid black;
                cursor: pointer;
                text-overflow: ellipsis;
                border-left: none;
                border-top: none;
                border-right: none;
            }

            .record-form__input-plot {
                margin: 5px 20px;
                padding: 5px 10px;
                color: black;
                font-size: 36px;
                background: transparent;
                border: 1px solid black;
                cursor: pointer;
                text-overflow: ellipsis;
                border: none;
            }

            .record-form__submit {
                margin: 20px;
                max-width: 300px;
                border-radius: 20px;
                padding: 10px 0;
                cursor: pointer;
                transition: .5s;
                font-size: 26px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 768px) {

    .main {

        .container {

            .record-form {
                flex-direction: column;
                gap: 20px;

                .record-form__left-part {
                    min-width: 100%;
                    margin-right: 0;
                }

                .record-form__right-part {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 425px) {

    .main {

        .container {

            .record-form {

                .record-form__right-part {

                    .dream-title-wrapper {

                        .record-form__input {
                            width: 80%;
                        }
                    }

                    .dream-category-wrapper {
                        flex-direction: column;
                        gap: 20px;

                        .dream-category-wrapper__select-wrapper {
                            flex-direction: column;
                            gap: 20px;
                            align-items: center;

                            .record-form__input {
                                font-size: 24px;
                            }
                        }
                    }

                    .record-form__input-plot {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}