@import '../../base';
@import '../../variables/variables';
@import '../../templates/templates';
@import '../../js_classes';

@import '../registered_header';
@import '../footer';

.main {
    @extend %secondary_style;

    .container {

        .wrapper {
            padding-top: 20px;

            .title {
                font-size: 36px;
            }

            .plot {
                margin: 10px 0;
            }
        }

    }
}