@import '../../base';
@import '../../variables/variables';
@import '../../templates/templates';
@import '../../js_classes';

@import '../registered_header';
@import '../footer';

.main {

    .container {}

    .music-player {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .music-player__title {
            font-size: 46px;
            margin-bottom: 20px;
            text-align: center;
        }

        .music-player__track-wrapper {
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;

            .music-player__track-span {
                width: fit-content;
                text-align: end;
                margin-right: 10px;
                font-size: 26px;
            }

            .music-player__track {
                margin: 10px 0;
                width: 100%;
            }

            audio::-webkit-media-controls-panel {
                transition: .5s;
            }

            audio::-webkit-media-controls-current-time-display {
                transition: .5s;
            }
        }
    }
}