@import '../../base';
@import '../../variables/variables';
@import '../../templates/templates';
@import '../../js_classes';

@import '../registered_header';
@import '../footer';

.main {
    @extend %secondary_style;

    .container {}

    .music-player {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .music-player__title {
            font-size: 46px;
            margin-bottom: 20px;
        }

        .music-player__track-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .music-player__track-span {
                text-align: end;
                width: 11%;
                margin-right: 10px;            }

            .music-player__track {
                margin: 10px 0;
                width: 80%;
            }

            audio::-webkit-media-controls-panel {
                background-color: #3f676b;
            }

            audio::-webkit-media-controls-current-time-display {
                color: #00ff00;
            }

            audio::-webkit-media-controls-time-remaining-display,
            audio::-webkit-media-controls-play-button,
            audio::-webkit-media-controls-mute-button,
            audio::-webkit-media-controls-rewind-button,
            audio::-webkit-media-controls-seek-back-button,
            audio::-webkit-media-controls-seek-forward-button,
            audio::-webkit-media-controls-volume-slider,
            audio::-webkit-media-controls-timeline,
            audio::-webkit-media-controls-fullscreen-button {
                color: #ffffff;
            }
        }
    }
}