@import '../../base';
@import '../../variables/variables';
@import '../../templates/templates';
@import '../../js_classes';

@import '../registered_header';
@import '../footer';

.main {

    .notification {
        padding: 10px;
        display: none;
        position: fixed;
        z-index: 2;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 20px;
        font-size: 72px;
        border: 3px solid black;
        transition: .5s;
        filter: drop-shadow(0 0 5px white);
    }

    .container {

        .main-wrapper {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;

            .main__plot {
                width: 70%;

                .pagination-switcher {
                    margin: 20px 0;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 30px;
                    transition: .5s;
                    filter: drop-shadow(5px 5px 10px #000000);

                    .pagination-switcher__button {
                        width: 50px;
                        height: 50px;
                        transition: .5s;
                    }

                    .pagination-switcher__plot {
                        text-align: center;

                        .pagination-switcher__plot-top {}

                        .pagination-switcher__plot-bottom {
                            margin-top: 10px;
                        }

                        .pagination-switcher__plot-text {}

                        .pagination-switcher__plot-key {
                            font-size: 24px;
                            font-weight: 900;
                            transition: .5s;
                        }
                    }
                }

                .empty-message {
                    margin: 20px 0;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: .5s;
                    border-radius: 30px;
                    filter: drop-shadow(5px 5px 10px #000000);

                    .empty-message__span {}

                    .empty-message__button {
                        margin-top: 20px;
                        font-size: 40px;
                        padding: 0 20px;
                        border-radius: 50px;
                        transition: .5s;
                    }
                }

                .dream-record {
                    margin: 20px 0;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    transition: .5s;
                    border-radius: 30px;
                    filter: drop-shadow(5px 5px 10px #000000);

                    .dream-record__visual {
                        margin-right: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 20px;

                        .dream-record__visual-primary {
                            width: 148px;
                            height: 148px;
                            border-radius: 100%;
                            background-image: url(./../img/default-dream-image.svg);
                            background-size: cover;
                        }

                        .dream-record__visual-secondary {
                            display: flex;
                            justify-content: space-around;

                            .image-wrapper {
                                position: relative;
                                display: inline-block;
                            }

                            .description-label {
                                visibility: hidden;
                                background-color: #000;
                                color: #fff;
                                text-align: center;
                                border-radius: 6px;
                                padding: 5px 10px;
                                position: absolute;
                                z-index: 1;
                                bottom: 100%;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            .image-wrapper:hover .description-label {
                                visibility: visible;
                            }

                            .dream-record__visual-secondary-icon {}
                        }
                    }

                    .dream-record__main {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 85%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        .dream-record__main-top {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;

                            .dream-record__main-top-left {

                                .dream-record__main-top-left-title {
                                    font-size: 40px;
                                }

                                .dream-record__main-top-left-date {
                                    margin-top: 10px;
                                    font-size: 16px;
                                }
                            }

                            .dream-record__main-top-right {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                height: 100%;

                                .dream-record__main-top-right-likes {
                                    font-size: 36px
                                }

                                .dream-record__main-top-right-liked-this {
                                    font-size: 20px;
                                    font-weight: 900;
                                    transition: .5s;
                                    filter: drop-shadow(0px 0px 1px #000000);
                                }

                                .dream-record__main-top-right-views {
                                    margin-top: 10px;
                                    font-size: 16px;
                                }
                            }
                        }

                        .dream-record__main-middle {
                            margin: 10px 0;

                            .dream-record__main-middle-tags {
                                margin-bottom: 5px;

                                .dream-record__main-middle-tags-button {}
                            }

                            .dream-record__main-middle-plot {}
                        }

                        .dream-record__main-bottom {
                            margin-top: 10px;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            gap: 5px;

                            .dream-record__main-bottom-user {
                                align-items: center;
                                padding: 0 10px 0 0;
                                display: flex;
                                font-size: 40px;
                                border-radius: 25px;
                                transition: .5s;

                                .dream-record__main-bottom-user-avatar {
                                    margin-right: 10px;
                                    width: 45px;
                                    height: 45px;
                                    background-color: white;
                                    border-radius: 100%;
                                    background-image: url(./../img/default-user-avatar.svg);
                                    background-size: cover;

                                    &:before {
                                        content: "";
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        background-image: url(./../img/default-user-avatar.svg);
                                        background-size: cover;
                                    }
                                }
                            }

                            .dream-record__main-bottom-look-link {
                                font-size: 40px;
                                padding: 0 20px;
                                border-radius: 50px;
                                transition: .5s;
                            }
                        }
                    }
                }
            }

            .main__filter {
                width: 25%;
                height: fit-content;
                position: sticky;
                top: 20px;
                margin: 20px 0;

                .main__filter-block {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    padding: 20px;
                    transition: .5s;
                    border-radius: 20px;

                    .main__filter-block-span {
                        margin-bottom: 10px;
                    }

                    .main__filter-block-main {
                        display: flex;
                        align-items: center;

                        .main__filter-block-input {
                            padding: 5px;
                            font-size: 36px;
                            border-radius: 20px;
                            width: 100%;
                        }

                        .dream-category-icon {
                            margin-left: 10px;
                            width: 64px;
                            height: 64px;
                        }
                    }

                    .main__filter-block-search {
                        display: flex;
                        position: relative;
                        justify-content: space-between;

                        .main__filter-block-input {
                            padding: 5px;
                            font-size: 36px;
                            border-radius: 20px;
                            width: 100%;
                        }

                        .auto-suggestions {
                            display: none;
                            position: absolute;
                            top: 50px;
                            background-color: #f9f9f9;
                            min-width: 150px;
                            width: 85%;
                            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                            z-index: 1;
                            border-radius: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .auto-suggestions a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            background-color: #f9f9f9;
                            border-radius: 20px;
                        }

                        .auto-suggestions a:hover {
                            background-color: #d2d2d2;
                        }

                        .main__filter-block-search-button {
                            padding: 0;
                            margin-left: 10px;
                            border-radius: 10px;
                            width: 64px;
                            background-image: url(./../icons/registered_home/search.svg);
                            background-size: 80%;
                            background-repeat: no-repeat;
                            background-position: center;
                            transition: .5s;
                        }
                    }
                }

                .user-search {
                    .user-search__title {}

                    .user-search__main {
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        .user-search__main-left {
                            display: flex;
                            align-items: center;
                            margin-right: 20px;

                            .user-search__main-left-avatar {
                                width: 64px;
                                height: 64px;
                                border-radius: 100%;
                                background-color: white;
                                background-image: url(./../img/default-user-avatar.svg);
                                background-size: cover;

                                &:before {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    background-image: url(./../img/default-user-avatar.svg);
                                    background-size: cover;
                                }
                            }

                            .user-search__main-left-nickname {
                                margin-left: 10px;
                            }
                        }

                        .user-search__main-button {
                            font-size: 36px;
                            width: 64px;
                            height: 64px;
                        }
                    }
                }

                .main__filter-add-link-wrapper {
                    border-radius: 50px;
                    text-align: center;
                    padding: 0;

                    .main__filter-add-link {
                        font-size: 32px;
                        background-color: transparent;
                        padding: 5px 20px;

                        &:hover {
                            color: #dedede;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .main {

        .container {

            .main-wrapper {

                .main__filter {

                    .main__filter-block {

                        .main__filter-block-main {

                            .main__filter-block-input {
                                direction: rtl;
                            }
                        }
                    }

                    .main__filter-add-link-wrapper {

                        .main__filter-add-link {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .main {

        .container {

            .main-wrapper {
                flex-direction: column-reverse;
                gap: 20px;

                .main__plot {
                    width: 100%;
                }

                .main__filter {
                    width: 100%;
                    position: static;

                    .main__filter-block {

                        .main__filter-block-main {

                            .main__filter-block-input {
                                direction: ltr;
                            }
                        }
                    }

                    .main__filter-add-link-wrapper {

                        .main__filter-add-link {
                            padding: 5px 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {

    .main {

        .container {

            .main-wrapper {

                .main__filter {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .main__filter-block {
                        width: 90%;
                    }
                }

                .main__plot {

                    .dream-record {
                        margin: 20px 0;
                        padding: 5px;
                        flex-direction: column;
                        gap: 10px;
                        align-items: center;

                        .dream-record__visual {
                            width: 100%;
                            margin-right: 0;
                            align-items: center;

                            .dream-record__visual-secondary {
                                gap: 50px;
                            }
                        }

                        .dream-record__main {
                            width: 95%;

                            .dream-record__main-top {
                                flex-direction: column;
                                gap: 10px;
                                align-items: center;

                                .dream-record__main-top-left {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }

                                .dream-record__main-top-right {
                                    align-items: center;
                                }
                            }

                            .dream-record__main-middle {

                                .dream-record__main-middle-tags {
                                    display: flex;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                }
                            }

                            .dream-record__main-bottom {
                                justify-content: center;
                                flex-wrap: wrap;

                                .dream-record__main-bottom-user {
                                    font-size: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}