@import '../../base';
@import '../../variables/variables';
@import '../../templates/templates';
@import '../../js_classes';

@import '../header';
@import '../footer';

.main {
    display: flex;
    justify-content: center;

    .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;

        .register-title {
            margin-bottom: 20px;
            font-size: 40px;
        }

        .register-form {
            display: flex;
            flex-direction: column;
            background-color: rgb(233, 233, 233);
            padding: 0 20px;
            width: 300px;
            border: 2px solid black;

            .register-form-separator {
                align-self: center;
                width: 80%;
                height: 1px;
                background-color: black;
                margin: 10px 0;
            }

            .register-form__span {
                margin-top: 15px;
                font-size: 14px;
                font-weight: 900;
            }

            .register-form__input {
                margin-top: 5px;
                cursor: pointer;
                padding: 7px 14px;
                border-radius: 5px;

                &:hover {
                    background-color: rgb(233, 233, 233);
                }
            }

            .register-form__span-small {
                font-size: 14px;
                text-align: center;
                letter-spacing: 1px;
                margin: 10px 0;
            }

            .register-form__submit {
                border-radius: 20px;
                padding: 10px 0;
                cursor: pointer;
                transition: .5s;
                font-size: 26px;
                font-weight: 600;
            }

            .register-form__checkbox-part {

                input,
                label {
                    cursor: pointer;
                }
            }

            .register-form__bottom {
                margin-top: 10px;

                .register-form__bottom-link {
                    color: #232e2f;
                    font-size: 20px;
                    background-color: transparent;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .g_id_signin {
                align-self: center;
                margin-bottom: 10px;
            }

            .google-message {
                align-self: center;
                width: 95%;
            }
        }

        .code-form {
            margin: 10px 0;
            background-color: rgb(233, 233, 233);
            padding: 0 20px 20px;
            width: 300px;

            .code-form__title {
                margin-top: 10px;
            }

            .code-form__numbers {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;

                .code-form__number {
                    padding-left: 15px;
                    font-size: 20px;
                    width: 25px;
                    height: 30px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
            }

            .code-form__plot {
                margin-top: 10px;
                font-size: 14px;
            }
        }

        .dev-message {
            position: relative;
            background-color: rgb(253, 255, 151);
            padding: 5px 10px;
            width: 300px;
            transition: 3s;
            margin-bottom: 10px;

            .dev-message__decor {
                position: absolute;
                top: -3px;
                width: 30px;
                height: 30px;
                transform: rotate(45deg);
                z-index: 1;
                background-color: rgb(253, 255, 151);
            }

            .dev-message__plot {
                position: relative;
                z-index: 2;
                font-size: 14px;
                line-height: 1.2;

                .dev-message__code {
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 24px;
                    font-weight: 900;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .main {

        .form-wrapper {

            .register-title {
                text-align: center;
            }

            .register-form {
                width: 80%;

                .register-form__submit {
                    font-size: 20px;
                }
            }

            .code-form {
                width: 80%;
            }

            .dev-message {
                width: 80%;
            }
        }
    }
}