@import '../variables/variables';

%primary_style {
    background-color: $background_color_primary;
    color: $text_color_primary;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
}

%secondary_style {
    background-color: $background_color_secondary;
    color: $text_color_secondary;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}