@import '../variables/variables';

.primary-style {
    background-color: $background_color_primary;
    color: $text_color_primary;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    transition: .5s;

    a {
        background-color: $background_color_primary;
        color: $text_color_primary;
    }

    button {
        background-color: $background_color_primary;
        color: $text_color_primary;
    }

    .themes-switcher-container {
        background-color: $background_color_secondary;
    }

    .themes-switcher__slider {
        background-color: $background_color_primary;
    }

    .header__navigation-list-separator {
        background-color: $background_color_secondary;
    }

    .header__navigation-end-account-separator {
        background-color: $background_color_secondary;
    }
}

.secondary-style {
    background-color: $background_color_secondary;
    color: $text_color_secondary;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    transition: .5s;

    a {
        background-color: $background_color_primary;
        color: $text_color_primary;
    }

    button {
        background-color: $background_color_primary;
        color: $text_color_primary;
    }

    .notification {
        background-color: $background_color_secondary;
    }

    .pagination-switcher {
        background-color: $background_color_primary;
        color: $text_color_primary;
    }

    .pagination-switcher__button {
        background-color: $text_color_primary;
        color: $background_color_primary;

        &:hover {
            color: black;
            filter: drop-shadow(0 0 5px $text_color_primary);
        }
    }

    .container {

        .main-wrapper {

            .main__plot {

                .pagination-switcher {

                    .pagination-switcher__plot {

                        .pagination-switcher__plot-key {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .empty-message {
        background-color: $background_color_primary;
        color: $text_color_primary;
    }

    .empty-message__button {
        background-color: $text_color_primary;
        color: $background_color_primary;

        &:hover {
            color: black;
            filter: drop-shadow(0 0 5px $text_color_primary);
        }
    }

    .dream-record {
        background-color: $background_color_primary;
        color: $text_color_primary;
    }

    .dream-record__main-bottom-user {
        background-color: $text_color_primary;
        color: $background_color_primary;

        &:hover {
            color: black;
            filter: drop-shadow(0 0 5px $text_color_primary);
        }
    }

    .dream-record__main-bottom-look-link {
        background-color: $text_color_primary;
        color: $background_color_primary;

        &:hover {
            color: black;
            filter: drop-shadow(0 0 5px $text_color_primary);
        }
    }

    .main__filter-block {
        background-color: $background_color_primary;
    }

    .main__filter-block-search-button {
        background-color: $text_color_primary;

        &:hover {
            filter: drop-shadow(0 0 5px $text_color_primary);
        }
    }

    .user-search__main-button {
        background-color: $text_color_primary;
        color: $background_color_primary;

        &:hover {
            color: black;
            filter: drop-shadow(0 0 5px $text_color_primary);
        }
    }

    .main__filter-add-link {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary);
        }
    }

    .record-form__submit {

        &:hover {
            background-color: $text_color_primary;
        }
    }

    .forecast-place-button {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary);
        }
    }

    .register-form__submit {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary);
        }
    }

    .register-form__submit {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary);
        }
    }

    .dream-record-head__top-left-return-button {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary);
        }
    }

    .dream-record-head__top-right-like-button {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary);
        }
    }

    .dream-record__main-top-right-liked-this {
        color: rgb(255, 0, 217);
    }

    .main__filter-block-span {
        color: $background_color_secondary;
    }

    audio::-webkit-media-controls-panel {
        background-color: #3f676b;
    }

    audio::-webkit-media-controls-current-time-display {
        color: #00ff00;
    }
}

.primary-style-light {
    background-color: $background_color_primary_light;
    color: $text_color_primary_light;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    transition: .5s;

    a {
        background-color: $background_color_primary_light;
        color: $text_color_secondary;

        &:hover {
            color: rgb(25, 25, 25);
        }
    }

    button {
        background-color: $background_color_primary_light;
        color: $text_color_secondary;

        &:hover {
            color: rgb(25, 25, 25);
        }
    }

    .themes-switcher-container {
        background-color: $text_color_secondary;
    }

    .themes-switcher__slider {
        background-color: $background_color_primary_light;
    }

    .header__navigation-list-separator {
        background-color: $text_color_secondary;
    }

    .header__navigation-end-account-separator {
        background-color: $text_color_secondary;
    }
}

.secondary-style-light {
    background-color: $background_color_secondary_light;
    color: $text_color_secondary;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    transition: .5s;

    a {
        background-color: $background_color_primary_light;
        color: $text_color_secondary;
    }

    button {
        background-color: $background_color_primary_light;
        color: $text_color_secondary;
    }

    .notification {
        background-color: $background_color_secondary_light;
    }

    .pagination-switcher {
        background-color: $background_color_primary_light;
        color: $text_color_secondary;
    }

    .pagination-switcher__button {
        background-color: $text_color_secondary;
        color: $background_color_primary_light;

        &:hover {
            color: white;
            filter: drop-shadow(0 0 5px $text_color_secondary);
        }
    }

    .container {

        .main-wrapper {

            .main__plot {

                .pagination-switcher {

                    .pagination-switcher__plot {

                        .pagination-switcher__plot-key {
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .empty-message {
        background-color: $background_color_primary_light;
        color: $text_color_secondary;
    }

    .empty-message__button {
        background-color: $text_color_secondary;
        color: $background_color_primary_light;

        &:hover {
            color: white;
            filter: drop-shadow(0 0 5px $text_color_secondary);
        }
    }

    .dream-record {
        background-color: $background_color_primary_light;
        color: $text_color_secondary;
    }

    .dream-record__main-bottom-user {
        background-color: $text_color_secondary;
        color: $background_color_primary_light;

        &:hover {
            color: white;
            filter: drop-shadow(0 0 5px $text_color_secondary);
        }
    }

    .dream-record__main-bottom-look-link {
        background-color: $text_color_secondary;
        color: $background_color_primary_light;

        &:hover {
            color: white;
            filter: drop-shadow(0 0 5px $text_color_secondary);
        }
    }

    .main__filter-block {
        background-color: $background_color_primary_light;
    }

    .main__filter-block-search-button {
        background-color: $text_color_secondary;

        &:hover {
            filter: drop-shadow(0 0 5px $text_color_secondary);
        }
    }

    .user-search__main-button {
        background-color: $text_color_secondary;
        color: $background_color_primary_light;

        &:hover {
            color: white;
            filter: drop-shadow(0 0 5px $text_color_secondary);
        }
    }

    .main__filter-add-link {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary_light);
        }
    }

    .record-form__submit {

        &:hover {
            background-color: $background_color_primary_light;
        }
    }

    .forecast-place-button {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary_light);
        }
    }

    .register-form__submit {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary_light);
        }
    }

    .register-form__submit {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary_light);
        }
    }

    .dream-record-head__top-left-return-button {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary_light);
        }
    }

    .dream-record-head__top-right-like-button {

        &:hover {
            filter: drop-shadow(0 0 5px $background_color_primary_light);
        }
    }

    .dream-record__main-top-right-liked-this {
        color: rgb(255, 0, 0);
    }

    .main__filter-block-span {
        color: $text_color_secondary;
    }

    audio::-webkit-media-controls-panel {
        background-color: #85dde5;
    }

    audio::-webkit-media-controls-current-time-display {
        color: #00de00;
        text-shadow:
            -.5px -.5px 0 #000,
            .5px .5px 0 #000,
            -.5px .5px 0 #000,
            .5px .5px 0 #000;
    }
}