@import '../templates/templates';

.footer {
    @extend %primary_style;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        height: 10vh;

        .footer__data {

            .footer__data-element {}
        }

        .footer__plot {
        }

        .footer__social {
            display: flex;

            .footer__social-link {
                display: block;
                margin: 10px;
            }

            .footer__social-link-image {
                width: 48px;
            }
        }
    }
}